{% extends 'html/base.html' %}
{% block title %}Комнаты{% endblock %}
{% block content %}
<h2>Комнаты</h2>
<form method="get" action=".">
    <input type="text" name="q" placeholder="Поиск по названию..." value="{{ request.GET.q }}">
    <button type="submit">Поиск</button>
</form>

<ul>
    {% for room in rooms %}
        <li><a href="{% url 'room_detail' room.id %}">{{ room.name }}</a></li>
    {% empty %}
        <li>Нет доступных комнат.</li>
    {% endfor %}
</ul>

<a href="{% url 'create_room' %}">Создать новую комнату</a>
{% endblock %}
